services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KEYCLOAK_FRONTEND_URL=http://localhost:8180
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_PORT=8180
      - KC_HOSTNAME_STRICT_BACKCHANNEL=false
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HEALTH_ENABLED=true
    command: start-dev
    ports:
      - "8180:8080"
    restart: always
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - appnet
      
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: NewDbComputer
    ports:
      - "5433:5433" #port d'écoute l'hote et port du conteneur
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - appnet
        
        
  keycloak-auth-service:
    build:
      context: .
      dockerfile: AuthenticationServices/Dockerfile
    container_name: keycloak_auth_service
    ports:
      - "5051:5051" 
    networks:
      - appnet
        
  game-service:
    build:
      context: .
      dockerfile: GameServices/Dockerfile
    container_name: game_service
    ports:
      - "5001:5001"
    depends_on:
      - postgres
    environment:
      - ConnectionStrings__Default=Host=host.docker.internal;Port=5432;Database=NewDbComputer;Username=user;Password=1234
    networks:
      - appnet
  
  api-gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: api_gateway
    ports:
      - "5002:5002"
    depends_on:
      - game-service
    networks:
      - appnet

volumes:
  postgres_data:
  keycloak_data:

networks:
  appnet:
    driver: bridge
