@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            va nous servire pour afficher des stats
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
