.home-button[b-ixau7aaveo] {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.start-button[b-ixau7aaveo] {
    position: relative;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: #000000;
    background: rgb(67, 152, 59);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover[b-ixau7aaveo] {
    background: rgb(52, 195, 37);
    color: #000;
}

