@page "/"
<PageTitle>Accueil</PageTitle>

<div class="home-button">
    <NavLink href="/RoomTemplate" Match="NavLinkMatch.All">
        <button class="start-button">Nouvelle aventure</button>
    </NavLink>
</div>

