@page "/RoomTemplate"

<div class="room">
    
    <div class="title">
        <h3>ROOM 01</h3>
    </div>
    
    <div class="arena">
        <div class="character">Personnage</div>
        <div class="ennemie">Ennemie</div>
    </div>
    
    <div class="option">
        <button>Attaquer</button>
        <button>Soigner</button>
        <button>Fuir</button>
        <button>Explorer</button>
        <button>-</button>
        <button>-</button>
    </div>
</div>
