/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-7u0urdf5km] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7u0urdf5km] {
    flex: 1;
}
/* /Pages/Home.razor.rz.scp.css */
.home-button[b-ixau7aaveo] {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.start-button[b-ixau7aaveo] {
    position: relative;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: #000000;
    background: rgb(67, 152, 59);
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover[b-ixau7aaveo] {
    background: rgb(52, 195, 37);
    color: #000;
}

/* /Pages/RoomTemplate.razor.rz.scp.css */
.room[b-r5kw52mfye] {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title[b-r5kw52mfye]{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1em;
}

.arena[b-r5kw52mfye]{
    height: 100%;
    display: flex;
}
.character[b-r5kw52mfye]{
    border-right : 1px solid black;
    width: 50%;
}

.option[b-r5kw52mfye]{
    display: flex;
    border-top: 1px solid black;
    padding: 1em;
    height: 20%;
    position: sticky;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
}

.option button[b-r5kw52mfye] {
    flex: 1;     
    max-width: 150px;
    margin: 0 0.5em;
    padding: 0.7em 1em;
    font-size: 1rem;
    background-color: #ffffff;
    color: black;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option button:hover[b-r5kw52mfye] {
    background-color: #000;
    color: #fff;
}
